# Aux files
**/*.pyc
**/my*
**/.mypy_cache

# Testing/Packaging
**/prof
.eggs
*.egg-info
.tox
.coverage
.hypothesis/

# Prototype package
gproto

# Package
dist/

# Generated documentation
docs/build/
