# robodoc.rc for project gepard documentation

items:
    NAME
    SYNOPSIS
    FILE DESCRIPTION
    DESCRIPTION
    INPUTS
    OUTPUT
    RETURN VALUE
    IDENTIFIERS
    EXAMPLE
    NOTES
    BUGS
    TODO
    SEE ALSO
    CHILDREN
    PARENTS
    MEMBER OF
    SOURCE
source items:
    SYNOPSIS
options:
    --src ./src 
#    --nodesc
    --sections
headertypes:
    h "File" file
    p "Program" program
    s "Subroutine" subroutine
    f "Function" function
    c "Common Block" commonblock
    v "Variable" variable
accept files:
   headers.h
   accuracy.F
   astrong.F
   aux.F
   bca.F
   beta.F
   bigcns.F
   cdvcs.F
   cff.F
   dcomplex.F
   deriv.F
   dvcs.F
   erfunc.F
   error.F
   evol.F
   evolc.F
   evoldep.F
   f2.F
   fit.F
   fit.c
   fcn.F
   gauss.F
   getmbgpd.F
   hj.F
   houches.F
   init.F
   initc.F
   integra.F
   lambda.F
   msbar.F
   nd.F
   projectors.F
   radcorr.F
   readpar.F
   rnnlo.F
   scaledep.F
   special.F
   test.F
   radNLO.F
   radQ.F
   radNNLO.F
   scalesNS.F
   header.F
   mninterface.F
   xspace.F
