# robodoc.rc for project gepard documentation

items:
    NAME
    SYNOPSIS
    FILE DESCRIPTION
    DESCRIPTION
    INPUTS
    OUTPUT
    RETURN VALUE
    IDENTIFIERS
    EXAMPLE
    NOTES
    BUGS
    TODO
    SEE ALSO
    CHILDREN
    PARENTS
    MEMBER OF
    SOURCE
source items:
    SYNOPSIS
options:
    --src ./src 
#    --nodesc
    --sections
headertypes:
    h "File" file
    p "Program" program
    s "Subroutine" subroutine
    f "Function" function
    c "Common Block" commonblock
    v "Variable" variable
accept files:
   header.h
   header.F
   astrong.F
   beta.F
   c1dvmp.F
   cff.F
   dcomplex.F
   deriv.F
   dvcs.F
   ej.F
   erfunc.F
   error.F
   evol.F
   evolc.F
   f2.F
   gauss.F
   getmbgpd.F
   hj.F
   init.F
   integra.F
   lambda.F
   nd.F
   projectors.F
   readpar.F
   rnnlo.F
   special.F
   tff.F
   wccsbar.F
   wcdvmp.F
   wcmsbar.F
